*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Noto Color Emoji", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

aside {
  width: 100%;
  position: relative;
  background-color: #233a95;
  z-index: 1001;
}
aside .container-covid {
  padding: 11px;
  text-align: center;
  color: white;
  font-size: 13px;
}
aside .container-covid strong {
  font-weight: 600;
}

.header-top {
  position: relative;
  border-bottom: 1px solid #e3e4e6;
}

.header-top .contanier__top {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 350px;
  margin-left: 350px;
}

.header-top .contanier__top-left {
  display: flex;
  align-items: center;
  height: 40px;
}
.header-top .contanier__top-left nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.header-top .contanier__top-left nav ul li {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 200;
}
.header-top .contanier__top-left nav ul li a {
  text-decoration: none;
  color: #3e445a;
}
.header-top .contanier__top-left nav ul li a:hover {
  cursor: pointer;
  color: #2bbef9;
}
.header-top .contanier__top-middle {
  display: flex;
  align-items: center;
  margin-left: 180px;
  padding-right: 18px;
  border-right: 1px solid rgb(245, 244, 244);
}
.header-top .contanier__top-middle .middle__part-text1 {
  font-size: 13px;
  font-weight: 200;
  color: #3e445a;
}
.header-top .contanier__top-middle .middle__part-text1 .hend {
  margin-right: 18px;
}
.header-top .contanier__top-middle .text-content {
  font-size: 13px;
  font-weight: 200;
  color: #3e445a;
  padding-left: 18px;
}
.header-top .contanier__top-middle .text-content a {
  text-decoration: none;
}
.header-top .contanier__top-middle .text-content a strong {
  padding: 5px;
  color: #2bbef9;
  font-weight: 700;
}
.header-top .contanier__top-middle .text-content a strong:hover {
  text-decoration: underline;
}
.header-top .list__part {
  display: flex;
  font-size: 13px;
  font-weight: 200;
  color: #3e445a;
  margin-left: 18px;
  align-items: center;
}
.header-top .list__part ul {
  display: flex;
}
.header-top .list__part ul li {
  display: flex;
  padding-left: 10px;
  font-weight: 400;
}
.header-top .list__part ul li i {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 8px;
}
.header-top .list__part ul li a {
  display: flex;
  text-decoration: none;
  color: #3e445a;
}

.header-middle {
  padding-top: 30px;
}/*# sourceMappingURL=main.css.map */