$covid: #233a95;
$covid-text: white;
$nav-top: rgb(209, 208, 208);
$nav__li-element: #3e445a;
$number: #2bbef9;
$blue: #e3f0f5;
$inp-bc: #f3f4f7;
$category: rgb(165, 165, 165);
$basket: rgb(212, 14, 41);